@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    <center>
        <table border="1">

            <tr> <td align="center" colspan="2" style=" color:palevioletred; font-size:x-large">LOGIN</td> </tr>
            <tr><td>ENTER YOUR EMAIL</td> <td> <input name="ADMIN_EMAIL" type="text" /> </td> </tr>
            <tr><td>ENTER YOUR PASSWORD</td> <td> <input name="ADMIN_PASSWORD" type="password" /> </td> </tr>
            <tr><td align="center" style="font-size:medium; color:red" colspan="2"> <input value="LOGIN" type="submit" /> </td> </tr>
            <tr><td colspan="2"><a href="@Url.Action("ForgetPassword","Home")">Forget Password</a></td></tr>
            <tr><td align="center" colspan="2" style="color:red; font-size:medium">@ViewBag</td><</tr>
        </table>
    </center>

}